<header id="header">
	<div class="inner">

		<!-- Logo -->
			<a asp-area="" asp-controller="Home" asp-action="Index" asp-route-id="" class="logo">
				<span class="symbol"><img src="~/images/logo.svg" alt="" /></span><span class="title">VALEXIS</span>
			</a>

		<!-- Nav -->
			<nav>
				<ul>
					<li><a href="#menu">МЕНЮ</a></li>
				</ul>
			</nav>

	</div>
</header>