<nav id="menu">
	<h2>Меню</h2>
	<ul>
		<li><a asp-area="" asp-controller="Home" asp-action="Index" asp-route-id="">Главная</a></li>
		<li><a asp-area="" asp-controller="Products" asp-action="Index" asp-route-id="">Каталог</a></li>
		@*<li><a asp-area="" asp-controller="Home" asp-action="Index" asp-route-id="">Корзина</a></li>*@
		@*<li><a asp-area="" asp-controller="Home" asp-action="Index" asp-route-id="">Статьи</a></li>*@
		@*<li><a asp-area="" asp-controller="Home" asp-action="Index" asp-route-id="">Сертификаты</a></li>*@
	</ul>
</nav>

@*
	главная
	каталог
	корзина
	статьи
	сертификаты
*@